.bubbleContainer{
	position: absolute;
	display: inline-block;
}
.bubbleText{
	padding: 0px;
	margin: 0px;
	text-align: center;
	box-shadow: 0 0 3px 0px #000;
	cursor: pointer;
	border-style: solid;
	/*position: relative;*/
}
.bubbleTextContent{
	border-radius: inherit;
	position: relative;
	z-index: 101;
}
.bubbleTextContent span{
	position: relative;
}
.bubbleTextShine{
	box-shadow: 0 0 5px 0px #FFF;
}

svg.bubbleTail{
	position: absolute;
	z-index: 99;
}